<section class="">
  <div class="main-home-section-container">
    <div class="main-home-section"></div>
    <div class="overlay"></div>
    <div class="content">
      <h1 class="headline">Unlimited movies, TV shows, and more.</h1>
      <button class="get-started" (click)="getStarted()">get-started</button>
    </div>
  </div>
  <!-- ---------------------------------------- -->
  <div class="enjoy-on-your-tv-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 dis-flex">
          <div class="content">
            <h1 class="headline">Enjoy on your TV.</h1>
            <h3 class="description">
              Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
            </h3>
          </div>
        </div>


        <div class="col-md-6">
          <div class="tv">
            <img src="../../../../assets/imgs/tv.png" alt="">
            <div class="video-container">
              <video autoplay loop>
                <source src="../../../../assets/imgs/video-tv-0819.m4v">
              </video>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
